<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>外包考勤</title>
  <link href="../layui/css/layui.css" rel="stylesheet">
  <link href='../fullcalendar/core/main.css' rel='stylesheet'/>
  <link href='../fullcalendar/daygrid/main.css' rel='stylesheet'/>
  <link href='../fullcalendar/timegrid/main.css' rel='stylesheet'/>
  <script src='../fullcalendar/core/main.js'></script>
  <script src='../fullcalendar/interaction/main.js'></script>
  <script src='../fullcalendar/daygrid/main.js'></script>
  <script src='../fullcalendar/timegrid/main.js'></script>
  <script src="../layui/layui.js"></script>
  <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <style>
    .page-title {
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 50px;
      margin-top: 50px;
    }

    .layui-form {
      width: 1024px;
      margin: 0 auto;
    }

    body {
      margin: 40px 10px;
      padding: 0;
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 14px;
    }

    #calendar {
      max-width: 900px;
      margin: 0 auto;
      margin-top: 60px;
    }
  </style>
</head>
<body>


<h3 class="page-title">外包考勤</h3>
<form class="layui-form" lay-filter="searchForm">
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">外包公司</label>
      <div class="layui-input-inline">
        <select class="companyList" lay-filter="companyList" name="companyList">
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">外包人员</label>
      <div class="layui-input-inline">
        <select class="personList" lay-filter="personList" name="personList">
          <option value=""></option>
        </select>
      </div>
    </div>
  </div>
</form>


<div id="calendar"></div>
</body>
<script>
  var path = getContextPath();
  // 获取项目路径
  function getContextPath() {
    var currentPath = window.document.location.host;
    return currentPath;
  }


    function initData() {
      var loading = layer.msg('正在加载', {icon: 16, shade: 0.3, time:0});
        return new Promise((resolve, reject) => {
            $.ajax({
                type: "GET",
                url: "http://"+path+"/wechat/initData",
                dataType: "json",
                success: function (res) {
                   layer.close(loading);
                    resolve(res.data);
                }
            });
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        let eventList = [];
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid', 'timeGrid'],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay',
            },
            locale: 'zh-cn',
            firstDay: 1,
            weekMode: 'liquid',
            weekNumbers: false,
            aspectRatio: 1.35,
            handleWindowResize: true,
            navLinks: false,
            selectable: false,
            selectMirror: true,
            select: function (selectionInfo) {
                let {start, end, startStr, endStr, allDay, jsEvent, view, resource} = selectionInfo;
                layer.prompt(function (val, index) {
                    calendar.addEvent({
                        title: val,
                        start: start,
                        end: end,
                        allDay: allDay
                    });

                    layer.close(index);
                });
            },
            unselectAuto: true,
            editable: true,
            eventLimit: true,
            dateClick: function () {

            },
            eventClick: function () {

            },
            events: function (date, wrappedSuccess, wrappedFailure) {//ajax请求数据并显示在响应时间段内
                debugger
                let userid = $('.personList').val();
                let month = date.end.getMonth();
              let year = date.end.getFullYear();
                if (userid) {

                  var loading = layer.msg('正在加载', {icon: 16, shade: 0.3, time:0});
                    $.ajax({
                        type: "GET",
                        url: "http://"+path+"/wechat/queryData",
                        dataType: "json",
                        data: {
                            userid: userid,
                          year: year,
                            month: month
                        },
                        success: function (res) {
                           layer.close(loading);
                            wrappedSuccess(res.data.eventList);
                        }
                    });

                } else { //页面初始渲染
                    wrappedSuccess(eventList);
                }

            },
        });

        calendar.render();

        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form,
                layer = layui.layer,
                layedit = layui.layedit,
                laydate = layui.laydate;

            //表单初始赋值
            initData().then(function (data) {
                let companyList = data.companyList;
                let $companyList = $('.companyList');
                let $personList = $('.personList');
                let {company, userid, name} = data.defaultUser; //页面初始化默认值
                eventList = data.eventList;
                calendar.refetchEvents();

                // 初始化搜索表单数据
                for (var key in companyList) {
                    $companyList.append('<option value=' + key + '>' + key + '</option>');
                }

                $companyList.val(company);

                let personList = companyList[company];
                personList.forEach(function (item, index) {
                    $personList.append('<option value=' + item.userid + '>' + item.usershowname + '</option>');
                });

                $personList.val(userid);

                form.render();

                // 监听选择外包公司，更新人员列表
                form.on('select(companyList)', function (data) {
                    let personList = companyList[data.value];

                    $personList.empty();

                    personList.forEach(function (item, index) {
                        $personList.append('<option value=' + item.userid + '>' + item.usershowname + '</option>');
                    });

                    form.render();

                    calendar.refetchEvents();
                });


                // 监听人员
                form.on('select(personList)', function (data) {
                    calendar.refetchEvents();
                });


            });
        });
    });
</script>

</html>
