<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <title>Document</title>
  <link href="../layui/css/layui.css" rel="stylesheet">
  <link href='../fullcalendar/core/main.css' rel='stylesheet'/>
  <link href='../fullcalendar/daygrid/main.css' rel='stylesheet'/>
  <link href='../fullcalendar/timegrid/main.css' rel='stylesheet'/>
  <script src='../fullcalendar/core/main.js'></script>
  <script src='../fullcalendar/interaction/main.js'></script>
  <script src='../fullcalendar/daygrid/main.js'></script>
  <script src='../fullcalendar/timegrid/main.js'></script>
  <script src="../layui/layui.js"></script>
  <script src="//apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  <style>
    .page-title {
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 50px;
      margin-top: 50px;
    }
    
    .layui-form {
      width: 1024px;
      margin: 0 auto;
    }
    
    body {
      margin: 40px 10px;
      padding: 0;
      font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
      font-size: 14px;
    }
    
    #calendar {
      max-width: 900px;
      margin: 0 auto;
    }
  </style>
</head>
<body>


<h3 class="page-title">外包考勤</h3>
<form class="layui-form" lay-filter="searchForm">
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">外包公司</label>
      <div class="layui-input-inline">
        <select class="companyList" lay-filter="companyList" name="companyList">
          <option value=""></option>
        </select>
      </div>
    </div>
    <div class="layui-inline">
      <label class="layui-form-label">外包人员</label>
      <div class="layui-input-inline">
        <select class="personList" lay-filter="personList" name="personList">
          <option value=""></option>
        </select>
      </div>
    </div>
  </div>
  
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label"></label>
      <div class="layui-input-inline">
        <button class="layui-btn search-form">查询</button>
      </div>
    </div>
  </div>
</form>


<div id="calendar"></div>
</body>
<script>
    function initData() {
        return new Promise((resolve, reject) => {
            $.ajax({
                type: "GET",
                url: "http://192.168.91.58:8080/wechat/initData",
                dataType: "json",
                success: function (res) {
                    resolve(res.data);
                }
            });
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        let eventList = [];
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid', 'timeGrid'],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            locale: 'zh-cn',
            firstDay: 1,
            weekMode: 'liquid',
            weekNumbers: false,
            aspectRatio: 1.35,
            handleWindowResize: true,
            navLinks: false,
            selectable: false,
            selectMirror: true,
            select: function (selectionInfo) {
                let {start, end, startStr, endStr, allDay, jsEvent, view, resource} = selectionInfo;
                layer.prompt(function (val, index) {
                    calendar.addEvent({
                        title: val,
                        start: start,
                        end: end,
                        allDay: allDay
                    });

                    layer.close(index);
                });
            },
            unselectAuto: true,
            editable: true,
            eventLimit: true,
            dateClick: function () {

            },
            eventClick: function () {

            },
            events: function (date, wrappedSuccess, wrappedFailure) {//ajax请求数据并显示在响应时间段内
                // let needList = [
                //     {
                //         title: 'All Day Event',
                //         start: '2019-06-01',
                //         editable: true
                //     }, {
                //         title: 'Long Event',
                //         start: '2019-06-07',
                //         end: '2019-06-10'
                //     }];

                wrappedSuccess(eventList);

            },
        });

        calendar.render();
        
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form,
                layer = layui.layer,
                layedit = layui.layedit,
                laydate = layui.laydate;

            //表单初始赋值
            initData().then(function (data) {
                let companyList = data.companyList;
                let {company, userid, name} = data.defaultUser;
                eventList = data.eventList;
                calendar.refetchEvents();

                // 初始化搜索表单数据
                for (var key in companyList) {
                    $('.companyList').append('<option value=' + key + '>' + key + '</option>');
                }

                $('.companyList').val(company);

                let personList = companyList[company];
                personList.forEach(function (item, index) {
                    $('.personList').append('<option value=' + item.userid + '>' + item.usershowname + '</option>');
                });

                $('.personList').val(userid);

                form.render();

                // 监听选择外包公司，更新人员列表
                form.on('select(companyList)', function (data) {
                    let personList = companyList[data.value];

                    $('.personList').empty();

                    personList.forEach(function (item, index) {
                        $('.personList').append('<option value=' + item.userid + '>' + item.usershowname + '</option>');
                    });

                    form.render();
                });

                //监听提交
                $('.search-form').click(function (e) {
                    e.preventDefault();
                    let userid = $('.personList').val();
                    let month = calendar.state.currentDate.getMonth() + 1;
                    $.ajax({
                        type: "GET",
                        url: `http://192.168.91.58:8080/wechat/queryData`,
                        dataType: "json",
                        data: {
                            userid: userid,
                            month: month
                        },
                        success: function (res) {
                            eventList = res.data.eventList;
                            calendar.refetchEvents();
                        }
                    });
                });

            });
        });
    });

    $(function () {
    	$.ajax({
    		type: "GET",
    		url: "http://192.168.91.58:8080/wechat/initData",
    		dataType: "json",
    		success: function (data) {
    			alert(data);
    		}
    	});
    })
</script>

</html>
